@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: #101010;
	--secondary: #ffffff;
}

::-webkit-scrollbar {
	width: 5px;
}
*::-webkit-scrollbar-track {
	background: var(--primary);
	box-shadow: 5px #ffffff;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(#ffffff, var(--secondary));
	border-radius: 6px;
	box-shadow: 0px 6px 11px 0px var(--secondary);
	box-shadow: inset 0px 6px 11px 0px var(--secondary);
}
::-webkit-scrollbar-thumb:hover {
	blur: 8px;
}

@font-face {
	font-family: 'Guminert';
	src: url('../public/fonts/Guminert.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Kollektif';
	src: url('../public/fonts/Kollektif.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Kollektif-Bold';
	src: url('../public/fonts/Kollektif-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Kollektif-BoldItalic';
	src: url('../public/fonts/Kollektif-BoldItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Kollektif-Italic';
	src: url('../public/fonts/Kollektif-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Larken-Regular';
	src: url('../public/fonts/LarkenDEMO-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Larken-Bold';
	src: url('../public/fonts/LarkenDEMO-Bold.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Larken-Medium';
	src: url('../public/fonts/LarkenDEMO-Medium.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Larken-ExtraBold';
	src: url('../public/fonts/LarkenDEMO-ExtraBold.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Larken-BoldItalic';
	src: url('../public/fonts/LarkenDEMO-BoldItalic.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Larken-ExtraBoldItalic';
	src: url('../public/fonts/LarkenDEMO-ExtraBoldItalic.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Larken-Black';
	src: url('../public/fonts/LarkenDEMO-Black.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Larken-BlackItalic';
	src: url('../public/fonts/LarkenDEMO-BlackItalic.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
